@import be.renaud11232.warden.forms.Setup
@import scala.collection.Map
@(implicit request: Http.Request, form: Form[Setup], messages: play.i18n.Messages)
@base("Setup")(request)(null) {
    <div class="content">
        <h1 class="content-title">Setup</h1>
        <p>
            Hello and welcome to the setup page for Warden.<br/>
            This page will help you create your first Warden administrator account.
        </p>
    </div>
    <div class="card p-0">
        <div class="content">
            <form class="w-400 mw-full" action="@be.renaud11232.warden.controllers.routes.FirstSetupController.createUser()" method="POST">
                @helper.CSRF.formField
                @helpers.globalErrors(form, messages)
                @helpers.input(form("username"), Map("label" -> "Your username"), messages)
                @helpers.input(form("password"), Map("label" -> "Your password", "type" -> "password"), messages)
                @helpers.input(form("passwordConfirmation"), Map("label" -> "Confirm your password", "type" -> "password"), messages)
                <input class="btn btn-primary" type="submit" value="Create user">
            </form>
        </div>
    </div>
}