@import be.renaud11232.warden.forms.Login
@import scala.collection.Map
@(implicit request: Http.Request, form: Form[Login], messages: play.i18n.Messages)

@base("Login")(request)(null) {
    <div class="content-wrapper d-flex align-items-center">
        <div class="w-400 m-auto">
            <div class="card p-0">
                <div class="px-card py-10 border-bottom">
                    <h2 class="card-title font-size-18 m-0">
                        Login
                    </h2>
                </div>
                <div class="content">
                    @helper.form(action = be.renaud11232.warden.controllers.auth.routes.LoginController.login()) {
                        @helper.CSRF.formField
                        @helpers.globalErrors(form, messages)
                        @helpers.loginFormElement(form("username"), Map("icon" -> "fa-user", "label" -> "Your username"), messages)
                        @helpers.loginFormElement(form("password"), Map("icon" -> "fa-lock", "label" -> "Your password", "type" -> "password"), messages)
                        <div class="text-right">
                            <input class="btn btn-primary" type="submit" value="Log in">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}